#
# Development specific
#
development: redis://<%= @host %>:<%= @port %>

#
# Test specific
#
test: redis://<%= @host %>:<%= @port %>

#
# Production specific
#
production: redis://<%= @host %>:<%= @port %>
